{% extends 'base.html' %}

{% block content %}
<body id = 'blog-body'>
    
<section id = 'blog-section'>
<h1 id = 'blog-h1'>Is there any hope for your dad's love of cheap beer?</h1> <br> <br>
<div id = 'blog-img-div'>
<img id='blog-img' src="https://images.unsplash.com/photo-1604115708137-cbf1503a7c02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
</div> <br> <br>
<div id = 'blog-post'>

<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus tenetur earum modi excepturi veniam maiores iste et obcaecati dolores quidem impedit tempora, expedita minima nulla ad fugit error atque aspernatur.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia repudiandae repellendus, quibusdam blanditiis id maiores, corrupti et asperiores quos consequatur itaque aut ipsam nesciunt cumque quas amet. Debitis, unde reiciendis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem praesentium veritatis excepturi quasi expedita beatae explicabo unde dignissimos aut ut illum optio, esse dolores accusantium labore eum et? <br> <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste voluptatem, blanditiis esse debitis quis deleniti explicabo dolorem deserunt quas laborum temporibus nihil iusto dolore aut distinctio consequatur assumenda placeat vero?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas fugit maiores fuga aliquid beatae harum consequuntur excepturi accusamus eligendi minima, ipsum, saepe impedit aut reiciendis aliquam cum, omnis eos ratione.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum laboriosam fuga itaque commodi at ipsum facilis repudiandae impedit in earum cumque ratione, qui exercitationem? Porro nemo a velit unde modi? <br> <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nisi iure earum labore cupiditate numquam corporis perspiciatis dignissimos obcaecati. Possimus repellendus libero obcaecati sit id sequi incidunt inventore cumque modi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt itaque tempora hic esse quaerat culpa fugit natus corrupti, illo consectetur, perferendis, vitae quod sint expedita beatae asperiores eos praesentium sequi!
</p>
</div>
</section>
</body>
{% endblock %}