{% extends 'base.html' %}

{% block content %}

<div class='card bg-warning'>
    <div class='card-body text-center'>
        <h3>{{ beer.brewery }}</h3>
        <h4> {{ beer.name }}</a></h3>
        <p> {{ beer.profile }}</p>
       
        {%for photo in beer.photo_set.all%}
      
        <img id = 'detail-img' src="{{photo.url}}" alt="">
        {% empty %}
        <p>No Photos Uploaded</p>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'beers_update' beer.id %}">Edit</a>
        <a href="{% url 'beers_delete' beer.id %}">Delete</a>

    </div>
    <div id = 'photo-form'>
    <form action="{% url 'add_photo' beer.id %}"
          enctype="multipart/form-data"
          method="POST"

    >
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br> <br>
        <input type="submit" value="Upload Photo">

    </form>
</div>

</div>





{% endblock %}