{% extends 'base.html' %}

{% block content %}

<h1 id = 'feed-h1' style="text-align: center;">Your Beers</h1>


<body id = "feed-body">
    
    {% for beer in beers%}
<div id = 'beer_feed' class='card bg-warning'>
    <div class='card-body text-center'>
        <h3>{{ beer.brewery }}</h3>
        <h4> <a href="/beers/{{ beer.id }}">{{ beer.name }}</a></h3>
            {%for photo in beer.photo_set.all%}
            <img src="{{photo.url}}" alt="">
            {% endfor %}
       
    </div>
    
</div>
</body>

{% endfor %}
{% endblock %}