*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Anton', sans-serif;
    
    
}

#beer_feed{
    margin-left: 25%;
    margin-right: 25%;
}


#beer_form_container{
    display: flex;
    justify-content: center;
    
    
}



img{
    border-radius: 10px;
    width: 50%;
}